@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ramabhadra&display=swap');
.app {
	text-align: center;
	background-color: #282c34;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.app-header {
	height: 150px;
	font-size: 2rem;
	font-weight: 500;
}

.hello-font {
	font-family: Ramabhadra;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.app-container {
	border-top: 2px solid #1b1d23;
	background-color: hsl(220, 13%, 22%);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;

	min-height: calc(100vh - 150px);

	font-size: calc(10px + 2vmin);
}

.d-flex-center-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
